# FILES ----------------------------------------------------------------

# Patterns
/*.iml
*.ipr
*.iws
*.swp

# Files
npm-debug.log
#credentials.js

# DIRECTORIES ----------------------------------------------------------

# Patterns

# Directories
.idea/
node_modules/
bin/
