# FILES ----------------------------------------------------------------

# Patterns
/*.iml
*.ipr
*.iws
*.swp

# Files
npm-debug.log
#credentials.js

# DIRECTORIES ----------------------------------------------------------

# Patterns

# Directories
.build/
.idea/
node_modules/
bin/
stats/
