<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 id="nav-tabs">Help</h2>
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">First step</a></li>
                    <li><a href="#profile" data-toggle="tab">Your profile</a></li>
                    <li><a href="#view-stream" data-toggle="tab">Viewing stream</a></li>
                    <li><a href="#first-stream" data-toggle="tab">Your first stream :)</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                        <p>Hello! You are in the "Help" section, maybe you will find something interesting.
                        When you visit RTChoke website, you can authenticate yourself with your Facebook account,
                        or even with your Twitter or Google+ account! No need to, once again, create an account
                        with a password you won't remember... Just hit "Signing with passport.js" on the Home page
                        and there you go. But sometimes people does not have any of these accounts right?
                        So we still provide a "Registration" page where you can fill up a form in order to get a member account.
                        This is different from the guest account: you have more privileges ;)<br><br>
                        Use the above tabs to read other helping stuff.</p>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <p>Once you got an account (with registration or authentication with passport.js,
                        see "First steps" help topic), you can access your profile with the dropdown button "Account",
                        located in the top navigation bar. You will then be able to edit your informations, such as your
                        username, email if any, gender, age, webpage, etc... classic stuff. But you will also be able
                        to see some statistics about your account, great! (This feature is not implemented yet, not so great :()</p>
                    </div>
                    <div class="tab-pane fade" id="view-stream">
                        <p>Yes, this is one of the two main purposes of this web app. Viewing streams. Live streams. Streamed by people.
                        Anyone. Anyone who's got a device and a connection to the internet of course. And an account (this is one of
                        the members privileges!). Use the search bar in the "View stream" page to search by user, keyword or location!
                        You can also have access to a map if you share your geolocation, in order to see what streams are close to you.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="first-stream">
                        <p>First step to stream something: get an acount! Refer to "First steps" parts in this Help section
                        to learn how to get one. Once it is done, things are very easy. Just hit the "Stream now" button on
                        the Home page, then select a resolution (choose low for bad/slow connections), add some keybords
                        and description, and... that's it. Your stream will now be referenced on RTChoke so other
                        users can find it. You will also get a view link if you want to send it to your friends that do not
                        spend their entire time here searching for great streams ;)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
