<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="container">Mockup index</h1>
            </div>
            <div class="bs-example">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="list-group">
                                <a href="/viewstream" class="list-group-item active">View stream</a>
                                <a href="/stream" class="list-group-item">My stream </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootswatch.js"></script>
