<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="container">Sign in</h1>
            </div>
            <div class="bs-example">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="list-group">
                                <a href="{{authUrlGoogle}}" class="list-group-item">Sign in with Google+</a>
                                <a href="{{authUrlFacebook}}" class="list-group-item">Sign in with Facebook</a>
                                <a href="{{authUrlTwitter}}" class="list-group-item">Sign in with Twitter</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

