<link rel="stylesheet" href="css/stream.css">

<div class="container theme-showcase" role="main">
    <div class="col-md-8">
        <h2>Stream</h2>
        <div class="main-part well well-lg">
            <div class="bs-component">
                <embed width="680" height="420" src="https://www.youtube.com/v/Tlrvif8nrck"></embed>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>ChatRoom & Map</h2>
        <div class="well">
            <h4>Messages here</h4>
            <textarea class="input-sm" id="messages"></textarea>
            <textarea class="input-sm" id="chat"></textarea>
            <img id="chat-map" src="images/test_map.png"/>
        </div>
    </div>

    <div class="col-md-12">
        <div class="well well-lg">
            <h2>Here are the stats</h2>
        </div>
    </div>
</div>


