<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="container">Viewing ... stream</h1>
            </div>
        </div>
        <div class="col-lg-12">
            <h2>Panels</h2>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <!-- empty -->
        </div>

        <div class="col-md-8">
            <div class="bs-component">
                <img src="images/test.png"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bs-component">
                <img src="images/test_map.png"/>
            </div>
        </div>

        <div class="span1">
            <!-- empty -->
        </div>
    </div>

</div>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootswatch.js"></script>
